.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
**/.env
/iodataenv
/test
/data/*
/bqio/scripts
/bqio/stressors-qc
/bqio/__pycache__
/stac
/backup
/catalogs
/bqio/sftp-config.json
/stac_fastapi
/scripts
/data